# Dependencies
node_modules/

# Next.js
.next/
out/
dist/
next-env.d.ts
tsconfig.tsbuildinfo

# Production
build/

# Misc
.DS_Store
*.log
*.pem

# Env
.env*.local
.env

# Vercel
.vercel

# iOS / Capacitor
ios/build/
ios/Pods/
ios/App/Pods/
ios/App/build/
ios/DerivedData/

# Editor
.idea/
.vscode/
*.swp
